body {
  margin: 0;
  position: relative;
  height: 100vh;
  display: flex;
}

canvas {
  width: 100%;
  height: 100%;
  image-rendering: -moz-crisp-edges;
  image-rendering: -webkit-crisp-edges;
  image-rendering: pixelated;
  image-rendering: crisp-edges;
}

.screen {
  position: absolute;
  width: 100%;
}

.debug-panel-open {
  position: absolute;
  top: 0;
  right: 0;
}

.debug-panel {
  background: #eee;
  position: absolute;
  height: 100%;
  top: 0;
  right: 0;
  color: #ccc;
  padding: 8px 16px;
  box-sizing: border-box;
  border-left: 1px solid #ccc;
}

.debug-stats {
  margin: 8px 0;
}

.login-screen {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

.nickname-form {
  background: white;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.3);
  padding: 8px 16px;
}
